In [3]:
import pandas as pd
import numpy as np

url='https://raw.githubusercontent.com/Yorko/mlcourse_open/master/data/mlbootcamp5_train.csv'
df = pd.read_csv(url,';')
df.head(100)
#df['age']/365

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
5,8,21914,1,151,67.0,120,80,2,2,0,0,0,0
6,9,22113,1,157,93.0,130,80,3,1,0,0,1,0
7,12,22584,2,178,95.0,130,90,3,3,0,0,1,1
8,13,17668,1,158,71.0,110,70,1,1,0,0,1,0
9,14,19834,1,164,68.0,110,60,1,1,0,0,0,0
10,15,22530,1,169,80.0,120,80,1,1,0,0,1,0
11,16,18815,2,173,60.0,120,80,1,1,0,0,1,0
12,18,14791,2,165,60.0,120,80,1,1,0,0,0,0
13,21,19809,1,158,78.0,110,70,1,1,0,0,1,0
14,23,14532,2,181,95.0,130,90,1,1,1,1,1,0
15,24,16782,2,172,112.0,120,80,1,1,0,0,0,1
16,25,21296,1,170,75.0,130,70,1,1,0,0,0,0
17,27,16747,1,158,52.0,110,70,1,3,0,0,1,0
18,28,17482,1,154,68.0,100,70,1,1,0,0,0,0
19,29,21755,2,162,56.0,120,70,1,1,1,0,1,0
20,30,19778,2,163,83.0,120,80,1,1,0,0,1,0
21,31,21413,1,157,69.0,130,80,1,1,0,0,1,0
22,32,23046,1,158,90.0,145,85,2,2,0,0,1,1
23,33,23376,2,156,45.0,110,60,1,1,0,0,1,0
24,35,16608,1,170,68.0,150,90,3,1,0,0,1,1
25,36,14453,1,153,65.0,130,100,2,1,0,0,1,0
26,37,19559,1,156,59.0,130,90,1,1,0,0,1,0
27,38,18085,1,159,78.0,120,80,1,1,0,0,1,0
28,39,14574,2,166,66.0,120,80,1,1,0,0,1,0
29,40,21057,2,169,74.0,130,70,1,3,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,95,23589,1,155,57.0,120,80,1,1,0,0,1,1
71,96,21874,2,179,95.0,150,90,1,1,0,0,1,1
72,97,23433,1,156,58.0,110,70,1,1,0,0,1,0
73,100,21934,1,157,77.0,140,90,1,1,0,0,1,1
74,103,16039,2,180,90.0,140,90,2,2,0,0,0,0
75,104,20484,1,158,75.0,130,90,1,1,0,0,0,1
76,105,20397,2,188,105.0,120,80,1,1,0,0,1,1
77,106,21865,1,160,68.0,140,90,1,1,0,0,1,1
78,107,18241,1,173,82.0,140,90,1,1,0,0,1,1
79,108,20370,2,164,74.0,140,85,1,1,0,0,0,1
80,109,16591,1,159,49.0,120,70,1,1,0,0,1,0
81,111,19029,1,155,64.0,120,70,1,1,0,0,1,0
82,113,19642,1,158,75.0,120,80,1,1,0,0,1,1
83,114,19570,1,152,110.0,160,90,1,1,0,0,1,1
84,115,22636,1,178,93.0,130,90,1,1,0,0,0,1
85,116,18352,1,156,55.0,100,60,1,1,0,0,1,0
86,117,21909,1,156,75.0,150,90,2,2,0,0,1,1
87,119,19663,2,166,94.0,140,90,2,3,0,0,1,1
88,121,23204,1,151,92.0,130,90,1,1,0,0,0,1
89,122,19480,2,172,87.0,120,80,1,1,0,0,0,0
90,123,23230,1,160,82.0,140,100,1,1,0,0,1,0
91,124,19557,1,164,103.0,140,90,3,3,0,0,0,1
92,125,18752,2,173,76.0,150,90,1,1,0,0,1,1
93,126,22821,2,168,80.0,160,100,1,1,0,0,1,0
94,127,15946,2,185,88.0,133,89,2,3,0,0,1,0
95,129,21076,1,158,53.0,110,70,1,1,0,0,1,0
96,131,19258,2,165,65.0,110,70,1,1,0,0,1,0
97,132,18410,1,165,99.0,150,110,1,1,0,0,0,1
98,133,21860,2,170,100.0,120,80,1,1,0,0,0,1
99,134,17363,1,167,71.0,120,80,2,1,0,1,1,1

In [9]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
id             70000 non-null int64
age            70000 non-null int64
gender         70000 non-null int64
height         70000 non-null int64
weight         70000 non-null float64
ap_hi          70000 non-null int64
ap_lo          70000 non-null int64
cholesterol    70000 non-null int64
gluc           70000 non-null int64
smoke          70000 non-null int64
alco           70000 non-null int64
active         70000 non-null int64
cardio         70000 non-null int64
dtypes: float64(1), int64(12)
memory usage: 6.9 MB
None

In [15]:
df[df['gender']==1]['height'].mean()

161.35561168460356

In [18]:
df.groupby(by='gender')['height'].mean()

gender
1    161.355612
2    169.947895
Name: height, dtype: float64

In [42]:
df.groupby(by='gender')['id'].count()

gender
1    45530
2    24470
Name: id, dtype: int64

In [77]:
#1 - Women, 2-Men
df[df['gender']==1][df['alco']==1]['id'].count()

C:\DataScience\Anaconda\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

1161

In [78]:
df[df['gender']==1][df['alco']==1]['id'].count()/df[df['gender']==1]['id'].count()

C:\DataScience\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.025499670546892159

In [79]:
df[df['gender']==2][df['alco']==1]['id'].count()/df[df['gender']==2]['id'].count()

C:\DataScience\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.10637515324887617

In [80]:
#Men alco more

Вопрос 3 (1 балл). Во сколько раз (округленно, round) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?

In [8]:
cnt_w = df[df['gender']==1][df['smoke']==1]['id'].count()/df[df['gender']==1]['id'].count()
cnt_m = df[df['gender']==2][df['smoke']==1]['id'].count()/df[df['gender']==2]['id'].count()
cnt_m/cnt_w

C:\DataScience\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.
C:\DataScience\Anaconda\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

12.257833097333833

Вопрос 4 (1 балл). Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чём здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.

In [34]:
df.groupby(by='smoke')['age'].mean()

smoke
0    19505.400730
1    19090.836927
Name: age, dtype: float64

In [37]:
df.groupby(by='smoke')['age'].apply(np.median)

smoke
0    19722.0
1    19125.0
Name: age, dtype: float64

In [39]:
(19722.0-19125.0)/365.25*12

19.613963039014372

Вопрос 5 (2 балла). В статье на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:

In [ ]:
df['age_years']=round(df['age']/365.25)
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50.0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55.0
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1,52.0
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48.0
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0,48.0

In [69]:
df1=df[(df['age_years']>=60) & (df['age_years']<=64) & (df['gender']==2) & df['smoke']==1]#['ap_hi','cholesterol','cardio']
df1.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
19,29,21755,2,162,56.0,120,70,1,1,1,0,1,0,60.0
38,52,23388,2,162,72.0,130,80,1,1,1,0,1,1,64.0
67,90,22099,2,171,97.0,150,100,3,1,1,0,1,1,61.0
177,240,21848,2,170,69.0,120,80,1,1,1,1,1,0,60.0
182,248,22671,2,174,74.0,130,80,3,1,1,0,1,1,62.0

In [72]:
df_120=df1[(df1['ap_hi']<120) & (df1['cholesterol']==1)]
df_180=df1[(df1['ap_hi']>=160) &(df1['ap_hi']<180) & (df1['cholesterol']==3)]

In [73]:
df_120['cardio'].value_counts(normalize=True)

0    0.736842
1    0.263158
Name: cardio, dtype: float64

In [74]:
df_180['cardio'].value_counts(normalize=True)

1    0.863636
0    0.136364
Name: cardio, dtype: float64

In [75]:
round(0.863636/0.263158)

3

Вопрос 6 (2 балла). Постройте новый признак – BMI (Body Mass Index). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.

In [84]:
df['BMI']= df['weight']/((df['height']/100)**2)
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,BMI
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50.0,21.967120
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55.0,34.927679
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1,52.0,23.507805
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48.0,28.710479
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0,48.0,23.011177

6.1. Медианный BMI по выборке превышает норму
YES

In [86]:
median=np.median(df['BMI'])
median

26.374068120774975

6.2 У женщин в среднем BMI ниже, чем у мужчин
NO

In [98]:
d = {1 : 'Woman', 2: 'Man'}
df['gender_str'] = df['gender'].map(d)
df.groupby(by=['gender_str'])['BMI'].mean()

gender_str
Man      26.754442
Woman    27.987583
Name: BMI, dtype: float64

6.3 У здоровых в среднем BMI выше, чем у больных
NO

In [92]:
df.groupby(by=['cardio'])['BMI'].mean()

cardio
0    26.548175
1    28.566061
Name: BMI, dtype: float64

6.4. В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин
NO

In [100]:
df[(df['alco']==0)&(df['cardio']==0)].groupby(by=['gender_str'])['BMI'].mean()

gender_str
Man      25.872638
Woman    26.845407
Name: BMI, dtype: float64

.........................



Вопрос 7 (2 балла). Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)

    указанное нижнее значение артериального давления строго выше верхнего
    рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используйте pd.Series.quantile, если не знаете, что это такое – прочитайте)
    вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Это вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно, round) мы выбросили?

In [108]:
df=df[df['ap_hi']>df['ap_lo']]
df.count()

id             68764
age            68764
gender         68764
height         68764
weight         68764
ap_hi          68764
ap_lo          68764
cholesterol    68764
gluc           68764
smoke          68764
alco           68764
active         68764
cardio         68764
age_years      68764
BMI            68764
gender_str     68764
dtype: int64